@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
   font-family: 'Lato';
   src: url('./assets/fonts/Lato/Lato-Regular.ttf');
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Lato';
   src: url('./assets/fonts/Lato/Lato-Bold.ttf');
   font-weight: 700;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Lato';
   src: url('./assets/fonts/Lato/Lato-Black.ttf');
   font-weight: 900;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Lato';
   src: url('./assets/fonts/Lato/Lato-Italic.ttf');
   font-weight: 400;
   font-style: italic;
   font-display: swap;
}

@font-face {
   font-family: 'Lato';
   src: url('./assets/fonts/Lato/Lato-BoldItalic.ttf');
   font-weight: 700;
   font-style: italic;
   font-display: swap;
}

@font-face {
   font-family: 'Lato';
   src: url('./assets/fonts/Lato/Lato-BlackItalic.ttf');
   font-weight: 900;
   font-style: italic;
   font-display: swap;
}

@font-face {
   font-family: 'Lato';
   src: url('./assets/fonts/Lato/Lato-Light.ttf');
   font-weight: 300;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Lato';
   src: url('./assets/fonts/Lato/Lato-LightItalic.ttf');
   font-weight: 300;
   font-style: italic;
   font-display: swap;
}

@font-face {
   font-family: 'Lato';
   src: url('./assets/fonts/Lato/Lato-Thin.ttf');
   font-weight: 100;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Lato';
   src: url('./assets/fonts/Lato/Lato-ThinItalic.ttf');
   font-weight: 100;
   font-style: italic;
   font-display: swap;
}

@font-face {
   font-family: 'ZhunYuan';
   src: url('./assets/fonts/ZhunYuan.ttf');
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
   display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
   -ms-overflow-style: none; /* IE and Edge */
   scrollbar-width: none; /* Firefox */
}
